pypandoc>=1.5.0
matplotlib
imageio>=2.5.0
imageio-ffmpeg
Sphinx
sphinx-autobuild
sphinxcontrib-napoleon
sphinxcontrib-websupport
pytest-sphinx
sphinx-notfound-page>=0.3.0
sphinx-copybutton
sphinx-gallery>=0.8.1
pyansys_sphinx_theme
pypandoc
vtk<9.1.0
