Sphinx<8
ansys-sphinx-theme==0.16.6
imageio==2.34.2
nest-asyncio==1.6.0
notfound==1.0.2
pypandoc==1.13
pyvista==0.43.9
sphinx-copybutton==0.5.2
sphinx-gallery==0.16.0
sphinx-notfound-page==1.0.2
trame==3.6.3
vtk==9.3.1
