Sphinx<8
ansys-sphinx-theme==0.12.5
imageio==2.32.0
nest-asyncio==1.5.8
notfound==1.0.2
pypandoc==1.12
pyvista==0.42.3
sphinx-copybutton==0.5.2
sphinx-gallery==0.14.0
sphinx-notfound-page==1.0.0
trame==3.3.0
vtk==9.2.6
