Sphinx<10
ansys-sphinx-theme==1.7.0
imageio==2.37.2
nest-asyncio==1.6.0
notfound==1.0.2
pypandoc==1.16.2
pyvista==0.46.5
sphinx-copybutton==0.5.2
sphinx-gallery==0.20.0
sphinx-notfound-page==1.1.0
trame==3.12.0
vtk==9.5.2
